.post_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding-top: 2rem;
  background-image: url("../../../assets/4893732.webp");
  /* background-color: rgb(31, 31, 31); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* margin-left: 10px; */
}
