.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f1f1f1; */
  background-image: url("../../../assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

.home,
.add,
.logout {
  cursor: pointer;
}

.home {
  margin-right: 10px;
}

.add {
  margin-right: 10px;
}

.logout {
  display: flex;
  align-items: center;
}

.logout img {
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.left_group {
  padding-left: 10px;
}
