.reg_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
  background-color: rgba(236, 238, 238, 0.905);
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(173, 170, 170, 0.973);
  padding: 16px;
}
.register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(65, 66, 67);
}
.reg_form .MuiTextField-root {
  margin-bottom: 16px;
}

.reg_form .MuiButton-root {
  margin-top: 16px;
}
